body {
    background-color: black;
    color:gray;
	padding: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	vertical-align: middle;
	max-width: 800px;
	width: 80%;
	margin: 20px auto;
}


header, main, nav, footer {
    text-align: center; 
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}

figure, div {
    float:left;
}

h1 {
    color: white;
}
